$TTL {{ bind_record_ttl }}
@    IN    SOA    ns1.{{ bind_domain }}.    root.{{ bind_domain }}. (
                         {{ ansible_date_time.epoch }}          ; Serial
                                                    1D          ; Refresh slave
                                                    1H          ; Retry slave
                                                    1W          ; Expire slave
                         {{ bind_negative_cache_ttl }} )        ; Negative Cache TTL

; Name Servers
@           IN  NS      ns1.{{ bind_domain }}.
@           IN  NS      ns2.{{ bind_domain }}.
ns1         IN  A       {{ bind_name_server_ip }}
ns2         IN  A       {{ bind_name_server_ip }}

; Domain servers
@           IN  A       {{ bind_domain_ip }}
www         IN  A       {{ bind_domain_ip }}
registry    IN  A       {{ bind_container_registry_ip }}
; Mail servers
@           IN  MX   10 mail.{{ bind_domain }}.
mail        IN  A       {{ bind_mail_ip }}
pop         IN  A       {{ bind_mail_ip }}

; Misc
ftp         IN  CNAME   {{ bind_ftp_ip }}

; _domainkey    1    IN    TXT        "t=y; o=~;"
;mail._domainkey    1    IN    TXT        "k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDWqbr9g/QR8gatXpEA0ZFrD0CIKFxFyCPY+6BPFEL3kNd1/oVdHGDxT80TrdjBK5fw1Qt5dMycKMu5PccQVej4G8amYdqeJGEhjG6P3oeIZX4+YPvHJi5l2TcW+HVRQc+SyQokLXOvFcv7q9xHq/XSgRcnjRGD2lgIQ1q8dKUZ6QIDAQAB"
