include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";

zone    "{{ bind_domain }}"   {
        type master;
        file    "{{ bind_zone_cofiguration_folder }}/forward.{{ bind_domain }}.db";
 };

zone   "{{ bind_id_addr_arpa_ip }}.in-addr.arpa"        {
       type master;
       file    "{{ bind_zone_cofiguration_folder }}/reverse.{{ bind_domain }}.db";
 };
