$TTL {{ bind_record_ttl }}
@    IN    SOA    ns1.{{ bind_domain }}.    root.{{ bind_domain }}. (
                         {{ ansible_date_time.epoch }}          ; Serial
                                                    1D          ; Refresh slave
                                                    1H          ; Retry slave
                                                    1W          ; Expire slave
                         {{ bind_negative_cache_ttl }} )        ; Negative Cache TTL

; Name Servers
@           IN  NS      ns1.{{ bind_domain }}.
@           IN  NS      ns2.{{ bind_domain }}.
ns1         IN  A       {{ bind_name_server_ip }}
ns2         IN  A       {{ bind_name_server_ip }}

; Reverse lookup for domain servers
{{ bind_domain_last_octet }}     IN  PTR       {{ bind_domain }}
