concurrent = {{ runner_concurrency }}
check_interval = 0

[[runners]]
  name = "{{ runner_description }}"
  url = "{{ gitlab_url }}"
  token = "{{ registration_response.runner.token }}"
  executor = "docker"
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runner_docker_image }}"
    privileged = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
  [runners.cache]
