[Unit]
Description=Harlina Backend
After=network.target

[Service]
User={{ harlina_system_user }}
WorkingDirectory={{ harlina_jar_dest_path }}
Environment=DISPLAY={{ harlina_display }}
ExecStart=/usr/bin/java {{ harlina_java_opts }} -jar {{ harlina_jar_dest_path }}/harlinabackend.jar {{ harlina_spring_opts }}

[Install]
WantedBy=multi-user.target
